* {
  padding: 0;
  margin: 0;
  z-index: 1;
}
.mobile-all-content{
  display: none;
}
body {
  min-width: 1920px;
  max-width: 1920px;
  height: 5000px;
}

.all-content {
  width: 100%;
  height: 100%;
  background-color: #656565;
}

header {
  height: 70px;
  width: 100%;
  background-color: #565656;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-weight: 700;
}

.header-text-box {
  font-family: 'Lato', sans-serif;
  font-size: 11pt;
  color: #bdbdbd;
  margin-top: 26px;
  text-decoration: none;
   font-size: 10.3pt;
}

.kseroprint-logo {
  margin-top: 14px;
  margin-left: 330px;
}

.header-text-box:hover {
  color: #ffffff;
}

#header-text-box-1 {
  margin-left: 33px;
}

#header-text-box-2 {
  margin-left: 23px;
}

#header-text-box-3 {
  margin-left: 20px;
}

#header-text-box-4 {
  margin-left: 15px;
}

#header-text-box-5 {
  margin-left: 18px;
}

#header-text-box-6 {
  margin-left: 18px;
}

.header-order-call {
  margin-left: 56px;
  background-color: #444444;
  width: 334px;
  height: 71px;
}

.header-order-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-order-call-number {
  margin-left: 42px;
}

.header-order-call-telephone-number {
  margin-left: 30px;
  margin-bottom: 9px;
}

.header-order-call-viber {
  margin-left: 36px;
}

.header-order-call-telephone-number-call {
  font-family: 'Lato', sans-serif;
  color: #f4ea22;
  font-size: 11pt;
  color: #f4ea22;
}

.header-order-call-telephone-number-number {
  font-family: 'Lato', sans-serif;
  font-size: 11pt;
  color: #ffffff;
  margin-top: 9px;
}

#wrapper-id {
  max-height: 605px;
  min-height: 605px;
  width: 100%;
  z-index: -1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #ffffff;
}

#background-image {
  position: absolute;
}

.copy-block-content {
  margin-left: 330px;
}

.copy-block-content-headlines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  width: 870px;
  font-family: 'Roboto', sans-serif;
  margin-top: 70px;
}

.first-headline {
  font-size: 30pt;
   max-height: 45px;
  font-weight: bold;
}

.second-headline {
  font-size: 12pt;
  word-wrap: normal;
}
#second-headline-img-id{
 display: none;
}
.copy-block-content-text {
  width: 870px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 11pt;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin-top: 46px;
  font-weight:500;
}

.second-text {
  margin-left: 52px;
}

.copy-block-content-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 56px;
  font-weight:500;
}

.copy-block-content-image-text {
  width: 40px;
  font-size: 11pt;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 27px;
}

.copy-block-content-image {
  margin-left: 13px;
}
.copy-block-content-image-1{
  cursor: pointer;
}
.copy-block-content-image{
  cursor: pointer;
}

.banner {
  height: 1251px;
  width: 333px;
  background-color: #404040;
  margin-left: 83px;
  margin-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.banner-adv {
  margin-top: 33px;
}

.banner-print-adv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 28px;
  color: #ffffff;
}

.banner-print-adv-header {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 19.5pt;
}

.banner-print-adv-content {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 12pt;
  margin-top: 10px;
}

.banner-forms {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.banner-forms-header {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 9.2pt;
  margin-bottom: 17px;
  text-align: center;
}

.forms-itself {
  width: 272px;
  height: 35px;
  background-color: #818181;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 12pt;
  margin-bottom: 12px;
}

.forms-itself > div {
  margin-left: 17px;
}

.array-box-1 {
  height: 24px;
  width: 24px;
  border-radius: 3px;
  border: 1px #db1c70;
  border-style: solid;
  background-color: #d56b99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 5px;
}

.array-box-2 {
  height: 24px;
  width: 24px;
  border-radius: 3px;
  border: 1px #1280e5;
  border-style: solid;
  background-color: #65a1da;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 5px;
}

.forms-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #505050;
  font-family: 'Lato', sans-serif;
  font-weight: 550;
  font-size: 12pt;
  width: 271px;
  height: 50px;
  border-radius: 5px;
  background-color: #edd30a;
  margin-top: 30px;
  border: 0;
}

.color-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 55px;
}

.color-forms-all {
  height: 5px;
  width: 68px;
  border: 1px;
  border-style: solid;
  margin-right: 3px;
}

#blue-color-form {
  background-color: #019ee0;
  border-color: #31718b;
}

#pink-color-form {
  background-color: #e22f8e;
  border-color: #8b4369;
}

#yellow-color-form {
  background-color: #ede423;
  border-color: #918c3e;
}

.price-list-banner {
  height: 96px;
  width: 211px;
  border-radius: 7px;
  background-color: #545454;
  border: 3px solid #a49a4f;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: #d5d5d5;
  font-size: 10pt;
  margin-top: 46px;
}

.banner > a {
  text-decoration: none;
}

.banner-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 90px;
}

.icon-itself {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 21px;
}

.square-icon {
  background-color: #8e8e8e;
  height: 9px;
  width: 9px;
  margin-right: 60px;
}

.icon-content {
  font-family: 'Roboto', sans-serif;
  color: #cfcfcf;
  font-size: 9pt;
  margin-right: 20px;
}

.final-button {
  height: 45px;
  width: 265px;
  background-color: #404040;
  border-radius: 4px;
  border: 3px solid #a8991f;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: #dfc711;
  margin-top: 22px;
}
.final-button:hover{
  background-color: #6f6831;
}
.pre-footer {
  height: 184px;
  width: 100%;
  background-color: #404040;
  margin-top: 8px;
  font-size: 11pt;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.pre-footer-wrap {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: 330px;

}

.icon-box-text {
  margin-top: 51px;
}

.icon-box-img {
  margin-top: 40px;
}

.icon-box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
}

.icon-box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.icon-box-text-content {
  width: 200px;
  margin-top: 31px;
  font-weight: 200;
}

.icon-box-text-header {
  font-size: 11pt;
  font-weight: 900;
}

.icon-box-text {
  margin-left: 27px;
}

.mid-footer {
  height: 52px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14pt;
  font-family: 'Lato', sans-serif;
  font-weight: 550;
  color: #ffffff;
  margin-left: 330px;
}

footer {
  height: 409px;
  width: 100%;
  background-color: #dddddd;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 330px;
  padding-top: 44px;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 27px;
}

.percent-box {
  max-height: 29px;
  max-width: 47px;
  min-height: 29px;
  min-width: 47px;
  background-color: #626262;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  color: #ffffff;
}

.percent-line {
  min-width: 513px;
  height: 12px;
  background-color: #8c8c8c;
  border-radius: 3px;
  margin-left: 23px;
}

.percent-line-fulfill-1 {
  width: 475px;
  height: 100%;
  background-color: #009dde;
  border-radius: 5px 0 0 5px;
}

.percent-line-fulfill-2 {
  width: 448px;
  height: 100%;
  background-color: #e1308e;
  border-radius: 5px 0 0 5px;
}

.percent-line-fulfill-3 {
  height: 100%;
  width: 421px;
  background-color: #edd30a;
  border-radius: 5px 0 0 5px;
}

.percent-line-fulfill-4 {
  height: 100%;
  width: 260px;
  background-color: #21c1bb;
  border-radius: 5px 0 0 5px;
}

.percent-line-fulfill-5 {
  height: 100%;
  width: 134px;
  background-color: #22c87e;
  border-radius: 5px 0 0 5px;
}

.percent-line-fulfill-6 {
  height: 100%;
  width: 74px;
  background-color: #7edb26;
  border-radius: 5px 0 0 5px;
}

.percent-content {
  color: #404040;
  font-family: 'Lato', sans-serif;
  font-weight: 550;
  font-size: 11pt;
  margin-left: 40px;
}
.book-block{
  height: 470px;
  width: 100%;
  background-image: url(images/слой-57-копия.png);
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.book-block-text{
  position: relative;
  top: 73px;
  left: 330px;  
}
.book-block-text-1{
  color: #fff;
  font-size: 30pt;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.book-block-text-2{
  color: #fff;
  font-size: 11pt;
  font-weight: 500px;
  font-family: 'Roboto', sans-serif;
  margin-top: 25px;
}
.pre-time-box-text{
  position: relative;
  top: 67px;
  left: 113px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 10.7pt;
}
.book-block-image{
  position: relative;
  top: 58px;
}
.book-banner{
  z-index: 10;
  width: 333px;
  height: 470px;
  background-color: #edd30a;
  position: absolute;
  margin-left: 1283px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Lato',sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.book-banner-text-big{
  text-align:center;
  color: #404040;
  font-size: 18pt;
  font-weight: 900;
  margin-top: 20px;
}
.book-banner-text-small{
  color: #404040;
  font-size: 11pt;
  margin-top: 15px;
  font-weight: 900;
}
.book-banner-sale-text{
  margin-top: 10px;
  color: #fff;
  font-size: 9pt;
  font-family: 'Roboto',sans-serif;
  width: 264px;
  height: 26px;
  background-color: #5b5b5b;
  border-radius: 4px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.book-banner-sale-perc{
  font-size: 50pt;
  margin-top: 15px;
  color: #5b5b5b;
  font-weight: 900;
}
.book-banner-f-header{
  color: #404040;
  margin-top: 20px;
  font-size: 10pt;
  margin-left: 10px;
}
.book-banner-name-field{
  margin-top: 15px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 35px;
  width: 272px;
  background-color: #8e8e8e;
  border-radius: 4px;
  color: #fff;
}
.book-banner-name-field>span{
  margin-left: 10px;
}
.book-banner-tel-field{
  margin-top: 15px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 35px;
  width: 272px;
  background-color: #8e8e8e;
  border-radius: 4px;
  color: #fff;
}
.book-banner-tel-field>span{
  margin-left: 10px;
}
.book-banner-but{
  width: 272px;
  height: 50px;
  background-color: #505050;
  border-radius: 5px;
  color: #edd30a;
  font-weight: 550;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11pt;
  margin-top: 20px;
  border: 1px solid #505050;
}
.book-banner-but:hover{
  background-color: #717171;
  border: 1px solid #717171;
}
.book-banner-album{
  margin-top: 20px;
  color: #404040;
  font-size: 11pt;
  font-weight: 550;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;

}
.book-banner-download{
  color: #fff;
  background-color: #6d6c6c;
  height: 37px;
  width: 300px;
  border-radius: 5px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: 'Robot',sans-serif;
  margin-top: 20px;
}
.book-banner-download>span{
  margin-top: 8px;
}
.banner-cont{
  margin-right: 325px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inside-image-block{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 340px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  top: -105px;
  left: 27px;
}
.inside-time{
  color: #edd30a;
  font-size: 36pt;
}
.inside-text{
  font-size: 14pt;
  color: #fff;
}
.inside-time-1{
  color: #c1c1c1;
  font-size: 36pt;
}
.inside-image-block>span{
  font-size: 24,5pt;
  color: #fff;
  margin-bottom: 15px;
}
.the-best-gift-block{
  color: #edd30a;
  font-size: 17pt;
  font-family: 'Roboto', sans-serif;
  font-weight: 550;
  margin-top: 13px;
}
.book-block-book>img{
  margin-right: 70px;
  position: relative;
  z-index: 5;
}
.yellow-block{
  height: 280px;
  width: 100%;
  background-color: #edd30a;
}
.yellow-block-textes{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.yellow-text-blocks{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 330px;
  margin-top: 58px;
}
.yellow-text-block-1{
  color: #404040;
  font-size: 10pt;
  font-family: 'Lato',sans-serif;
  font-weight: 900;
}
.yellow-text-block-2{
  color: #404040;
  font-size: 10pt;
  font-family: 'Lato',sans-serif;
  margin-left: 95px;
}

.yellow-slides-block{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 330px;
  margin-top: 25px;
}
.yellow-slide{
  height: 440px;
  width: 305px;
  background-color: #404040;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border:1px solid #d8c52c;
  margin-right: 15px;
}
.yellow-slide-2{
  height: 440px;
  width: 305px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
   background: -webkit-gradient(linear, left bottom, left top, from(#0f87b9), to(#3a484e));
   background: -webkit-linear-gradient(bottom, #0f87b9, #3a484e);
   background: -o-linear-gradient(bottom, #0f87b9, #3a484e);
   background: linear-gradient(to top, #0f87b9, #3a484e);
  margin-right: 15px;
}
.yellow-slide-3{
  height: 440px;
  width: 305px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
   background: -webkit-gradient(linear, left bottom, left top, from(#b93579), to(#503e48));
   background: -webkit-linear-gradient(bottom, #b93579, #503e48);
   background: -o-linear-gradient(bottom, #b93579, #503e48);
   background: linear-gradient(to top, #b93579, #503e48);
  margin-right: 15px;
}
.slide-header{
  text-align: center;
  color: #e3e3e3;
  font-family: 'Lato',sans-serif;
  font-weight: 700;
  margin-top: 30px;
  font-size: 20pt;
}
.slide-small-text{
  color: #adb5b8;
  font-size: 12pt;
  font-family: 'Lato',sans-serif;
  font-weight: 550;
  margin-top: 22px;
}
.slide-image{
  margin-top: 30px;
}
.slide-small-text-2{
  margin-top: 30px;
  color: #cec640;
  font-family: 'Roboto',sans-serif;
  font-weight: 550;
  text-align: center;
  font-size: 10pt;
}
.slide-button{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 43px;
  width: 201px;
  background-color: #979797;
  border: 2px solid #d8c52c;
  border-radius: 4px;
  margin-top: 35px;
}
.slide-button:hover{
  background-color: #ed9a0a;
}
.slide-button-4:hover{
  background-color: #ed9a0a;
}
.slide-button-4{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 43px;
  width: 201px;
  background-color: #979797;
  border: 2px solid #d8c52c;
  border-radius: 4px;
  margin-top: 20px;
}
.next-from-yellow{
  height: 630px;
  width: 100%;
  background-image: url(images/iвв-копия.png);\
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.first-content-image{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.content-image-1{
  margin-bottom: 8px;
}
.content-image-2{
  margin-bottom: 8px;
}
.content-txt{
  margin: 35px;
  color: #fff;
  font-family: 'Lato',sans-serif;
  font-weight: 700;
  font-size: 14pt;
}
.chain-blocks{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 330px;
  width: 1280px;
  margin-bottom: 55px;
}
.chain-text{
  text-align: center;
  font-size: 10pt;
  font-weight: 600;
  font-family: 'Lato',sans-serif;
  color: #f5f5f5;
  font-size: 7pt;
}
.chain-text-f{
  text-align: left;
  font-size: 10pt;
  font-weight: 600;
  font-family: 'Lato',sans-serif;
  color: #f5f5f5;
  font-size: 7pt;
}
.chain-text-l{
  text-align: right;
  font-size: 10pt;
  font-weight: 600;
  font-family: 'Lato',sans-serif;
  color: #f5f5f5;
  font-size: 7pt;
}
.chains-ok{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.chains-ok-des{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
  margin-left: 20px;
}
.chain-chain{
  margin-bottom: 85px;
}
.chain-image{
  margin-bottom: 35px;
}
.another-yellow-block{
  width: 100%;
  height: 216px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #edd30a;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
}
.another-yellow-header{
  color: #404040;
  font-family: 'Lato',sans-serif;
  font-weight: 700;
  font-size: 14pt;
  margin-left: 795px;
  margin-top: 40px;
}
.another-yellow-blocks-1{
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
  margin-top: 28px;
  margin-left: 400px;
}
.an-yel-bl{
  width: 367px;
  height: 43px;
  background-color: #8e8e8e;
  border-radius: 3px;
  color: #fff;
  margin-right: 28px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  font-size: 11pt;
}
.an-yel-bl>span{
  margin-left: 10px;
}
.image-yellow-div{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  background-color: #d26e7f;
  border:1px solid #d62242;
  border-radius: 3px;
  margin-right: 10px;
}
.another-yellow-blocks-2{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
  margin-left: 400px;
}
.an-yel-button{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e3cb0f;
  font-family: 'Lato',sans-serif;
  font-weight: 550;
  font-size: 13pt;
  width: 367px;
  height: 43px;
  border-radius: 8px;
  background-color: #5c5c5c;
  border:1px solid #5c5c5c;
}
.just-black-line{
  height: 8px;
  width: 100%;
  background-color: #404040;
  border-bottom: 1px solid #edd30a;
}
.just-pink-line{
  height: 8px;
  width: 100%;
  background-color: #e83090;
  border-bottom: 1px solid #edd30a;
}
.just-blue-line{
  height: 8px;
  width: 100%;
  background-color: #009dde;
}
.photos-block-wrap{
  height: 426px;
  width: 100%;
  background-color: #e5e5e5;
}

.photos-block{
  width: 1248px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 330px;
}
.photos-textes{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 45px;
}
.photos-text-itself{
  margin-right: 15px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8e8e8e;
  font-size: 9pt;
  font-family: 'Lato',sans-serif;
  font-weight: 550;
  text-decoration: none;
}
.photos-text-itself:hover{
  color: #5c5c5c;
}
.photos-text-itself>img{
  margin: 14px;
}
.insta-textes-block{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5c5c5c;
  font-family: 'Lato',sans-serif;
  font-weight: 700;
  margin-top: 45px;
}
.insta-textes-block>img{
  margin-right: 38px;
}
.post-photos-block-wrap{
   width: 100%;
  height: 382px;
  background-image: url(images/Слой-57.png);
}
.photos-gallery{
 width: 1500px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 316px;
  margin-top: 33px;
}
.photos-itself{
  margin-left: 14px;
  margin-bottom: 14px;
  background-color: #434343;
  position: relative;
}
.photos-itself>img{
  width: 100%;
  height: 100%;
}
.photos-itself-text{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-family: 'Lato',sans-serif;
  font-weight: 700;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
   display: none;
}
#photos-itself-text-1{
 
}
#photos-itself{
  opacity: 1;
}
img[alt=lineph]{
  margin-top: 15px;
}
img[alt=eye]{
 margin-left: 5px;
  margin-top: 34px;
}
.photos-social{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1248px;
  margin-left: 330px;
}
.social-image-2{
  margin-left: 14px;
}
.social-icons{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-family: 'Lato',sans-serif;
  font-weight: 500;
  margin-top: 15px;
}
.social-icons>span{
  margin-left: 14px;
}
.social-block-button{
  height: 49px;
  width: 190px;
  border:1px solid #fff;
  border-radius: 5px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fff;
  font-family: 'Lato',sans-serif;
  font-weight: 500;
  font-size: 12pt;
  margin-top: 5px;
}
.social-block-button:hover{
  border-color: #e7d33b;
}
.pre-final-footer-wrap{
  width: 100%;
  height: 250px;
  background-color: #f4f4f4;
}
.pre-footer-content-zone{
  width: 1248px;
  margin-left: 330px;
  padding-top: 52px;
}
.header-zone{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #393939;
  font-family: 'Lato',sans-serif;
  font-weight: 700;
  
}
.header-zone>span{
  margin-left: 20px;
  margin-right: 20px;
}
.adv-zone{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 42px;
}
.adv-zone>img{
  margin-left: 15px;
}
.final-footer{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.final-footer-red-zone{
  width: 100%;
  height: 388px;
  background-image: url(images/4763632.png);
  font-family: 'Roboto',sans-serif;
  color: #fff;

  
}
.final-redbann-plus-cont{
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.red-banner{
  width: 334px;
  height: 387px;
  background-color: #8f2022;
  opacity: 0.8;
  margin-right: 312px;
}
.red-banner-text-1{
  margin-top: 52px;
  text-align: center;
  color: #fff;
  font-family: 'Roboto',sans-serif;
  font-size: 9pt;
  font-weight: 500;
}
.red-banner-text-2{
  text-align: center;
}
.red-bann-button{
  text-decoration: none;
  color: #3b3b3b;
  background-color: #edd30a;
  width: 272px;
  height: 52px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto',sans-serif;
  font-weight: 900;
  font-size: 11pt;
  opacity: 1;
  border-radius: 6px;
  border: 1px solid #edd30a;
  margin-left: 33px;
  margin-top: 28px;
}
.final-foot-red-content{
  padding-left: 330px;
  width: 900px;
}

.final-foot-header{
  width: 868px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 70px;
}

.final-ff-text1{
  font-weight: 900;
  font-size: 35pt;
}
.final-ff-text2{
  font-weight: 900;
  font-size: 18pt;
}
.final-foot-content{
  font-size: 13pt;
  padding-top: 40px;
}
.final-ff-vk-logo{
  width: 868px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 700;
  font-size: 10pt;
}
.final-ff-vk-logo>img{
  margin-right: 17px;
}
.final-ff-vk-logo>a{
  text-decoration: none;
  color: #fff;
}
.final-foot-yellow-zone{
  width: 100%;
  height: 134px;
  background-color: #edd30a;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.icons-yellow{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 330px;
  width: 788px;
}
.cont-banner-red{
  width: 334px;
  height: 100%;
  background-color: #8f2022;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #d6ae12;
  font-family: 'Roboto',sans-serif;
  font-weight: 600;
  margin-right: 312px;
}
.icons-yellow>img{
  margin-right: 70px;
}

.final-foot-header-wrap{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot-gray-line{
  height: 67px;
  width: 100%;
  background-color: #434343;
  color: #fff;
  font-family: 'Lato',sans-serif;
  font-weight: 700;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.foot-gray-line>span{
  padding-left: 330px;
  padding-top: 25px;
}
.banner-foot-maps{
  height: 520px;
  width: 334px;
  background-color: #434343;
  margin-left: 551px;
 
}
.foot-maps-ksero-logo{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}
.banner-foot-maps-text{
 text-align: center;
 margin-top: 32px;
  яz-index: 100;
}
.div-cl-1{
  color: #919191;
  font-family: 'Lato',sans-serif;
  font-size: 10.5pt;
}
.div-cl-2, .div-cl-3{
  color: #d9d9d9;
  font-family: 'Lato',sans-serif;
  font-size: 17pt;
}
.banner-foot-maps-text-2{
  color: #b5b5b5;
  font-family: 'Lato',sans-serif;
  font-size: 11pt;
  text-align: center;
  margin-top: 13px;
}
.banner-foot-maps-text-3{
  text-align: center;
  color: #d9d9d9;
  font-family: 'Lato',sans-serif;
  font-size: 12pt;
  margin-top: 13px;
}
.banner-foot-maps-button{
  text-decoration: none;
   font-family: 'Lato',sans-serif;
  font-size: 12pt;
  color: #ececec;
  width: 272px;
  height: 52px;
  background-color: #616161;
  border-radius: 4px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 25px;
  margin-top: 35px;
}
.final-footer-line{
  width: 100%;
  height: 52px;
  background-color: #6a6a6a;
}
.post-foot{
  width: 100%;
  height: 20px;
  background-color: #fff;
}
.final-footer-line{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.final-foot-content-zone{
  width: 885px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 330px;
}
.final-cont-1{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.fotter-img-1{
  margin-bottom: 19px;
  margin-left: 26px;
}
.fotter-img-2{
  margin-bottom: 10px;
  margin-right: 30px;
}
.footer-maps{

}
































@media screen and (max-device-width: 480px){
  body{
    max-width: 100vh;
    min-width: 100vh;
    max-height: 100vh;
  }
  .all-content{
    display: none;
  }
  .mobile-all-content{
    display: block;
  }
  .mobile-header{
    height: 120px;
    width: 100%;
    background-color: #cecece;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-header-information{
    font-size: 20pt;
    font-family: 'Roboto', sans-serif;
    color: #2f2f2f;
    margin-left: 40px;
  }
  .mobile-header-information-tel{
    font-size: 27pt;
  }
  .mobile-header-icons-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 170px;
    height: 100%;
    background-color: #666666;
  }
  .mobile-header-icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-right: 40px;
    margin-left: 40px;
  }
  .mobile-onclick-header{
    width: 100%;
    height: 372px;
    background-color: #666666;
    display: none;
  }
  .mobile-onclick-header-item{
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20pt;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    border: 1px solid black;
    text-decoration: none;
  }
  .big-line{
    width: 100px;
    height: 15px;
    background-color: #f7bc58;
  }
  .small-line{
    width: 60px;
    height: 15px;
    background-color: #f7bc58;
  }
  .mobile-header-icons>div{
    margin-bottom: 5px;
  }
  .mobile-kseroprint-logo{
    height: 400px;
    width: 100%;
    background-color: #4d4d4d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .mobile-lines{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 40px;
  }
  .mobile-logo-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .line{
    height: 100%;
    width: 20px;
    background-color: #999999;
    border: 1px solid #4d4d4d;
  }
  #line1-id{
    width: 100%;
    height: 30px;
    background-color: #01a0e2;
  }
   #line2-id{
    width: 100%;
    height: 30px;
    background-color: #e62e90;
  }
  #line3-id{
    width: 100%;
    height: 30px;
    background-color: #f1e821;
  }
  .mobile-logo-itself{
    margin-top: 150px;
    margin-left: 10px;

  }
  .mobile-logo-itself>img{
    height: 100px;
  }
  .mobile-logo-text{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 17pt;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-square{
    height: 5px;
    width: 5px;
    background-color: #ffffff;
    margin: 5px;
  }
  .mobile-print-text-first{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-text-headline{
    color: #4d4d4d;
    font-size: 40pt;
    margin-left: 60px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
  }
  .header-text-content{
    height: 60px;
    width: 270px;
    background-color: #666666;
    border-radius: 4px;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 80px;
    margin-right: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
  }
  .header-text-content>div{
    margin-left: 20px;
  }
  .mobile-print-text-second{
    color: #4d4d4d;
    margin-left: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
    margin-top: 30px;
  }
  .mobile-footer{
    width: 100%;
    height: 100vh;
    background-color: #4d4d4d;
    margin-top: 300px;
  }
  .mobile-footer-ex{
    width: 82%;
    height: 900px;
    background-color: #666666;
    position: relative;
    top: -20%;
    left: 10%;
  }
  .mobile-footer-ex-content{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile-footer-header{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
  }
  .mobile-footer-header-h{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 42pt;
  }
  .mobile-footer-header-s{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    margin-bottom: 25px;
  }
  .mobile-footer-form{
    color: #ffffff;
    margin-left: 20%;
    margin-right: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile-footer-form-text{
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    margin-bottom: 25px;
  }
  .mobile-footer-icons-cont{
    height: 40px;
    background-color: #fff;
    border-radius: 4px;
    border:1px solid #c83c56;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    color: #020200;
    margin-bottom: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mobile-footer-icons-cont>div{
    margin-left: 20px;
  }
  .mobile-footer-icons-cont>button{
    margin-right: 20px;
  }
  .mobile-footer-content-icons-button{
     width: 60%;
    height: 60px;
    background-color: #f7bc58;
    border:1px solid #c83c56;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
}
}
  